<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <input id="dice-roll" type="button" value="Roll Dice">
    <input id="finish-turn" type="button" value="Finish Turn">
    <br>
    Player list
    <ul id="player-list"></ul>
    <p>It is player <em id="current-player-turn-id">foo</em>'s turn</p>
    <script>
        function getOrCreateUserId() {
            const storageKey = "user_id";
            let userId = localStorage.getItem(storageKey);
    
            if (!userId) {
                userId = generateRandomId();
                localStorage.setItem(storageKey, userId);
            }
    
            return userId;
        }
    
        function generateRandomId() {
            const randomPart = Math.random().toString(36).substring(2, 8);
            return `user-${randomPart}`;
        }
    
        const userId = getOrCreateUserId();
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + roomName
            + '/?player_id='
            + encodeURIComponent(userId)
        );
            
        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type == 'chat.message') {
                document.querySelector('#chat-log').value += (data.content.message + '\n');    
            } else if (data.type == 'dice.roll.result') {
                console.log("Rolled dice:", data.content.result);
            } else if (data.type == 'game.status') {
                document.querySelector('#player-list').innerHTML = '';
                const content = JSON.parse(data.content);
                const players = Object.keys(content.scores_per_player); // usernames like 'user-jwgktz', 'user-ou73ev'

                players.forEach(element => {
                    const li = document.createElement('li');
                    li.textContent = element;
                    document.querySelector('#player-list').appendChild(li);
                });
            }
        };
    
        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };
    
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'type': 'chat.message',
                'content': {
                    'message': message,
                }
            }));
            messageInputDom.value = '';
        };
    
        document.querySelector('#dice-roll').onclick = function(e) {
            gameSocket.send(JSON.stringify({
                'type': 'dice.roll',
                'content': {
                    'keepers': [4],
                }
            }));
        };
        document.querySelector('#finish-turn').onclick = function(e) {
            gameSocket.send(JSON.stringify({
                'type': 'player.turn.finish',
                'content': null
            }));
        };
    </script>    
</body>
</html>